<div class="col-md-12">
  <table class="table table-responsive table-condensed table-borderless table-inline table-no-margin"
         ng-if="!editableForm.$visible">
    <tbody>
      <tr ng-repeat="value in customMetadata.values">
        <td class="text-wrap" ng-switch on="value.key">
          <strong class="small" ng-switch-when="http://www.modelcatalogue.org/metadata/genomics/#rare-disease-reports">
            Rare Disease Report Available
          </strong>
          <strong class="small" ng-switch-when="http://www.modelcatalogue.org/metadata/genomics/#cancer-types-export">
            Cancer Report Available
          </strong>
          <strong class="small" ng-switch-when="http://www.modelcatalogue.org/metadata/genomics/#all-rd-reports">
            All Rare Disease Conditions Reports
          </strong>
          <strong class="small" ng-switch-when="http://www.modelcatalogue.org/metadata/genomics/#all-cancer-reports">
            All Cancer Model Reports
          </strong>
          <strong class="small" ng-switch-default>{{value.key}}</strong>
        </td>
        <td>
          <small>{{value.value}}</small>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="custom-metadata col-md-12" ng-if="editableForm.$visible">
      <ordered-map-editor object="customMetadata"></ordered-map-editor>
    </div>
  </div>
</div>
