<div class="col-md-12" ng-if="!editableForm.$visible &amp;&amp; element.enumerations.values">
  <strong class="small">Enumerations</strong>
</div>
<div class="col-md-3" ng-repeat-start="value in (editableForm.$visible ? [] : element.enumerations.values)">
  <strong class="small">{{value.key}}</strong>
</div>
<div class="col-md-9 preserve-new-lines" ng-repeat-end>
  <small>{{value.value}}</small>
</div>
<div class="custom-metadata col-md-12" ng-if="editableForm.$visible">
  <div ng-if="copy.ext.get('http://www.modelcatalogue.org/metadata/enumerateType#subset')" class="alert alert-warning">
    Following values are inherited and will be overriden when the base enumeration changes:
    {{copy.ext.get('http://www.modelcatalogue.org/metadata/enumerateType#subset')}}
  </div>
  <ordered-map-editor object="copy.enumerations"
                      title="Enumerations"
                      key-placeholder="Value"
                      value-placeholder="Description">
  </ordered-map-editor>
</div>
