<div class="col-md-12">
  <div class="row" ng-if="!editableForm.$visible && element.enumerations.values">
    <div class="col-md-12" ng-if="!editableForm.$visible && element.enumerations.values">
      <strong class="small">Enumerations</strong>
    </div>
  </div>

  <div class="row" ng-repeat="value in (editableForm.$visible ? [] : element.enumerations.values) track by value.key">
    <div class="col-md-3">
      <strong class="small text-wrap">{{value.key}}</strong>
    </div>
    <div class="col-md-9 preserve-new-lines">
      <small>{{value.value}}</small>
    </div>
  </div>

  <div class="row">
    <div class="custom-metadata col-md-12" ng-if="editableForm.$visible">
      <div ng-if="copy.ext.get('http://www.modelcatalogue.org/metadata/enumerateType#subset')" class="alert alert-warning">
        Following values are inherited and will be overriden when the base enumeration changes:
        {{copy.ext.get('http://www.modelcatalogue.org/metadata/enumerateType#subset')}}
      </div>
      <ordered-map-editor object="copy.enumerations"
                          title="Enumerations"
                          key-placeholder="Value or copy & paste from excel"
                          value-placeholder="Description">
      </ordered-map-editor>
    </div>
  </div>
</div>
