<div class="col-md-6">
  <div class="row">
    <div class="col-md-6"><strong class="small">Symbol</strong></div>
    <div class="full-width-editable col-md-6">
      <small editable-text="copy.symbol">{{element.symbol || 'empty'}}</small>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-6"><strong class="small">Last Updated</strong></div>
    <div class="col-md-6">
      <small>{{element.lastUpdated | date}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong class="small">Version Created</strong></div>
    <div class="col-md-6">
      <small>{{element.versionCreated | date}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong class="small">Status</strong></div>
    <div class="col-md-6">
      <small>{{element.status}}</small>
    </div>
  </div>
</div>
