<div class="col-md-3">
  <strong class="small">Organization</strong>
</div>
<div class="full-width-editable col-md-9">
  <small editable-text="extAsMap['http://www.modelcatalogue.org/metadata/#organization']"
         e-name="metadata-organization">
    {{element.ext.get('http://www.modelcatalogue.org/metadata/#organization') || 'empty'}}
  </small>
</div>
<div class="col-md-3">
  <strong class="small">Namespace</strong>
</div>
<div class="full-width-editable col-md-9">
  <small editable-text="extAsMap['http://www.modelcatalogue.org/metadata/#namespace']" e-name="metadata-namespace">
    {{element.ext.get('http://www.modelcatalogue.org/metadata/#namespace') || 'empty'}}
  </small>
</div>
