<a class="cep-item" ng-class="{'show-more-cep-item': match.model.more, 'create-new-cep-item': match.model.create}">
        <span class="omnisearch-text"
              ng-class="{'text-warning': match.model.status == 'DRAFT', 'text-info': match.model.status == 'PENDING'}">
          <span class="text-muted" ng-class="match.model.getIcon()"/><span> {{match.model.classifiedName || match.model.name}} <small>{{match.model.getSemanticVersion()}}</small>
        </span><br/>
        <small ng-if="match.model.description">{{match.model.description}}</small>
</a>
