body {
    background: url(texture-noise.png);
    overflow: scroll;
    margin: 0;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#chart, #header, #footer {
    position: absolute;
    top: 0;
}

#header, #footer {
    z-index: 1;
    display: block;
    font-size: 36px;
    font-weight: 300;
    text-shadow: 0 1px 0 #fff;
}

#header.inverted, #footer.inverted {
    color: #fff;
    text-shadow: 0 1px 4px #000;
}

#header {
    top: 80px;
    left: 140px;
    width: 1000px;
}

#footer {
    top: 680px;
    right: 140px;
    text-align: right;
}

rect {
    fill: none;
    pointer-events: all;
}

pre {
    font-size: 18px;
}

line {
    stroke: #000;
    stroke-width: 1.5px;
}

.string, .regexp {
    color: #f39;
}

.keyword {
    color: #00c;
}

.comment {
    color: #777;
    font-style: oblique;
}

.number {
    color: #369;
}

.class, .special {
    color: #1181B8;
}

text a {
    fill: navy;
}
text a:visited {
    fill:darkpurple;
}
text a:hover, text a:active {
    text-decoration: underline;
    fill:darkred;
}

.hint {
    position: absolute;
    right: 0;
    width: 1280px;
    font-size: 12px;
    color: #999;
}
