**.iml
**/web-app/*
**/.idea/**/*
**/atlassian-ide-plugin.xml
ModelCatalogueCorePlugin/test/unit/resources/SACT/Breast_XMLSchema.xsd
ModelCatalogueCorePlugin/test/unit/resources/SACT/XMLDataTypes.xsd
ModelCatalogueCorePlugin/test/integration/resources/rare_diseases_combined.umlj
ModelCatalogueCorePluginTestApp/test/integration/resources/DataTemplate.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/DataTemplateChangeDataItemName.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/DataTemplateChangeDataItems.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/example.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/rare_diseases_combined.umlj
**/out/**/*
**/target/**/*
**/target-eclipse/**/*
**/*.class
**/*.gen.fixture.js
**/build/**/*
