**.iml
**/.idea/**/*
**/atlassian-ide-plugin.xml
ModelCatalogueCorePluginTestApp/null/ModelCatalogueCorePluginTestApp/*/*.sql
ModelCatalogueCorePluginTestApp/elasticsearch/
ModelCatalogueCorePluginTestApp/test/drivers/
ModelCatalogueCorePluginTestApp/rickmc.log
ModelCatalogueCorePlugin/test/unit/resources/SACT/Breast_XMLSchema.xsd
ModelCatalogueCorePlugin/test/unit/resources/SACT/XMLDataTypes.xsd
ModelCatalogueCorePlugin/test/integration/resources/rare_diseases_combined.umlj
ModelCatalogueCorePluginTestApp/test/integration/resources/DataTemplate.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/DataTemplateChangeDataItemName.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/DataTemplateChangeDataItems.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/example.xls
ModelCatalogueCorePluginTestApp/test/integration/resources/rare_diseases_combined.umlj
**/storage/**/*
**/out/**/*
**/target/**/*
**/.slcache/**/*
**/target-eclipse/**/*
**/*.class
**/*.gen.fixture.js
**/build/**/*
**/node_modules/**
**/bower_components/**
**/.gradle/**

.default-mc-config-location
.docker-ip

# loacl project configuration file
mc-config.groovy

# OsX
.DS_Store
.AppleDouble
.LSOverride

# Grails asset plugin cache
*.asscache
/ModelCatalogueCorePluginTestApp/null
