
    <!--
    <div class="alert alert-warning" ng-if="editableForm.$visible">
        The form metadata only applies on the root model of the form and is ignored for any nested models.
    </div>
    -->
    <!--
      "http://stewardship.modelcatalogue.org/stewardship#registrationAuthority" # name
      "http://stewardship.modelcatalogue.org/stewardship#dataSteward" # name
      "http://stewardship.modelcatalogue.org/stewardship#dataQualityAssessment" # name
      "http://stewardship.modelcatalogue.org/stewardship#effectiveFrom" # date
      "http://stewardship.modelcatalogue.org/stewardship#effectiveTo" # date
      "http://stewardship.modelcatalogue.org/stewardship#lastAudit" # date
      "http://stewardship.modelcatalogue.org/stewardship#sensitivity" # sensitivity type
      "http://stewardship.modelcatalogue.org/stewardship#databaseLocation" # url
      "http://stewardship.modelcatalogue.org/stewardship#databaseAccessDetails" # string
      "http://stewardship.modelcatalogue.org/stewardship#databaseAdministrator" # name

      -->




<div ng-controller="SelectStewardshipInfo">
<div class="col-md-6" >
    <div class="row">
        <div class="col-md-6"><strong class="small">Registration Authority</strong></div>
        <div class="full-width-editable col-md-6">
            <small editable-text="extAsMap['http://stewardship.modelcatalogue.org/stewardship#registrationAuthority']" e-name="registration-authority">
                {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#registrationAuthority') || 'empty'}}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Data Steward</strong></div>
        <div class="full-width-editable col-md-6">
            <small editable-text="extAsMap['http://stewardship.modelcatalogue.org/stewardship#dataSteward']" e-name="data-steward">
                {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#dataSteward') || 'empty'}}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Stewardship Effective From</strong></div>
        <div class="col-md-6 datepicker-xs">
            <small editable-bsdate="extAsMap['http://stewardship.modelcatalogue.org/stewardship#stewardshipEffectiveFrom']"
                   e-name="stewards-effective-from" e-readonly="true" e-datepicker-popup="dd/MM/yyyy" e-init-date="false"
                   e-is-open="data.isOpen" e-ng-click="data.isOpen = true" e-on-open-focus="false">
                {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#stewardshipEffectiveFrom') | date: "dd/MM/yyyy" || 'empty'}}
                </span>
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Stewardship Effective To</strong></div>
        <div class="col-md-6 datepicker-xs">
            <small editable-bsdate="extAsMap['http://stewardship.modelcatalogue.org/stewardship#stewardshipEffectiveTo']"
                   e-name="steward-effective-to" e-readonly="true" e-datepicker-popup="dd/MM/yyyy" e-init-date="false"
                   e-is-open="data.isOpen" e-ng-click="data.isOpen = true" e-on-open-focus="false">
                {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#stewardshipEffectiveTo') | date: "dd/MM/yyyy" || 'empty'}}
            </small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Data Quality Assessment</strong></div>
        <div class="full-width-editable col-md-6">
            <small editable-text="extAsMap['http://stewardship.modelcatalogue.org/stewardship#dataQualityAssessment']" e-name="data-quality">
                {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#dataQualityAssessment') || 'empty'}}
            </small>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="row">
        <div class="col-md-6"><strong class="small">Last Audit</strong></div>
        <div class="col-md-6 datepicker-xs">
            <small editable-bsdate="extAsMap['http://stewardship.modelcatalogue.org/stewardship#lastAudit']"
                   e-name="metadata-last-audit" e-readonly="true" e-datepicker-popup="dd/MM/yyyy" e-init-date="false"
                   e-is-open="data.isOpen" e-ng-click="data.isOpen = true" e-on-open-focus="false">
                {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#lastAudit') | date: "dd/MM/yyyy" || 'empty'}}
            </small>
        </div>
    </div>


    <div class="row">
        <div class="col-md-6"><strong class="small">Sensitivity</strong></div>
        <div class="col-md-6">
                    <span editable-select="extAsMap['http://stewardship.modelcatalogue.org/stewardship#sensitivity']"
                          e-ng-options="s for s in sensitivityLevels"
                          class = "small">
                        {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#sensitivity')}}
                    </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Database Location</strong></div>
        <div class="col-md-6">
            <span editable-text="extAsMap['http://stewardship.modelcatalogue.org/stewardship#databaseLocation']" class = "small">
                        {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#databaseLocation')}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Database Access</strong></div>
        <div class="col-md-6">
            <span editable-text="extAsMap['http://stewardship.modelcatalogue.org/stewardship#databaseAccessDetails']" class = "small">
                        {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#databaseAccessDetails')}}
                    </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"><strong class="small">Database Administrator</strong></div>
        <div class="col-md-6">
            <span editable-text="extAsMap['http://stewardship.modelcatalogue.org/stewardship#databaseAdministrator']" class = "small">
                        {{element.ext.get('http://stewardship.modelcatalogue.org/stewardship#databaseAdministrator')}}
                    </span>
        </div>
    </div>
</div>
</div>
