<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span><span class="sr-only">Cancel</span></button>
  <h4>Data Class Wizard</h4>
  <ul class="tutorial-steps">
    <li>
      <button id="step-previous" ng-disabled="step == 'dataClass' || (step == 'summary' &amp;&amp; !errored) " ng-click="previous()" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span></button>
    </li>
    <li>
      <button id="step-dataClass" ng-disabled="(step == 'summary' &amp;&amp; !errored)" ng-click="select('dataClass')" class="btn btn-default" ng-class="{'btn-primary': step == 'dataClass'}">1. Data Class*</button>
    </li>
    <li>
      <button id="step-metadata" ng-disabled="!dataClass.name || (step == 'summary' &amp;&amp; !errored)" ng-click="select('metadata')" class="btn btn-default" ng-class="{'btn-primary': step == 'metadata', 'btn-info': step != 'metadata' &amp;&amp; hasMetadata()}">2. Metadata</button>
    </li>
    <li>
      <button id="step-parents" ng-disabled="!dataClass.name || (step == 'summary' &amp;&amp; !errored)" ng-click="select('parents')" class="btn btn-default" ng-class="{'btn-primary': step == 'parents', 'btn-info': step != 'parents' &amp;&amp; parents.length > 0}">3. Parents</button>
    </li>
    <li>
      <button id="step-children" ng-disabled="!dataClass.name || (step == 'summary' &amp;&amp; !errored)" ng-click="select('children')" class="btn btn-default" ng-class="{'btn-primary': step == 'children', 'btn-info': step != 'children' &amp;&amp; children.length > 0}">4. Children</button>
    </li>
    <li>
      <button id="step-elements" ng-disabled="!dataClass.name || (step == 'summary' &amp;&amp; !errored)" ng-click="select('elements')" class="btn btn-default" ng-class="{'btn-primary': step == 'elements', 'btn-info': step != 'elements' &amp;&amp; dataElements.length > 0}">5. Elements</button>
    </li>
    <li ng-if="dataModels.length == 0">
      <button id="step-dataModels" ng-disabled="!dataClass.name || (step == 'summary' &amp;&amp; !errored)" ng-click="select('dataModels')" class="btn btn-default" ng-class="{'btn-primary': step == 'dataModels', 'btn-info': step != 'dataModels' &amp;&amp; dataModels.length > 0}">6. Data Models*</button>
    </li>
    <li>
      <button id="step-next" ng-disabled="!dataClass.name || step == 'dataModels' || step == 'summary'" ng-click="next()" class="btn btn-default" ><span class="glyphicon glyphicon-chevron-right"></span></button>
    </li>
    <li>
      <button id="step-finish" ng-disabled="!dataClass.name || (dataModels.length == 0 &amp;&amp; !dataModel.element) || finishInProgress" ng-click="finish()" class="btn btn-default btn-success"><span class="glyphicon glyphicon-ok"></span></button>
    </li>
  </ul>
</div>
<div class="modal-body" ng-switch="step">
  <messages-panel messages="messages"></messages-panel>
  <div ng-switch-when="dataClass" id="dataClass">
    <form role="form" ng-submit="select('metadata')">
      <div class="form-group">
        <label for="name" class="">Name</label>
        <div class="input-group">
          <input type="text" class="form-control" id="name" placeholder="Name (Required)" ng-model="dataClass.name" focus-me="step=='dataClass'" required>
                    <span class="input-group-btn">
                      <a class="btn btn-default" ng-click="prefillFrom()"><span class="fa fa-fw fa-copy"></span></a>
                    </span>
        </div>
      </div>
      <div class="form-group">
        <label for="modelCatalogueId" class="">Catalogue ID</label>
        <input type="text" class="form-control" id="modelCatalogueId" placeholder="e.g. external ID, namespace (leave blank for generated)" ng-model="dataClass.modelCatalogueId">
      </div>
      <div class="form-group">
        <label for="description" class="">Description</label>
        <textarea rows="10" ng-model="dataClass.description" placeholder="Description (Optional)" class="form-control" id="description" ng-keydown="navigateOnKey($event, 9, 'metadata')"></textarea>
      </div>
      <fake-submit-button/>
    </form>
  </div>
  <div ng-switch-when="metadata" id="metadata">
    <form ng-submit="select('parents')">
      <div>
        <h4>Metadata</h4>
        <metadata-editor title="Key" value-title="Value" object="metadata" owner="owners.dataClass"></metadata-editor>
      </div>
      <fake-submit-button/>
    </form>
  </div>
  <div ng-switch-when="parents" id="parents">
    <br/>
    <form role="form">
      <div class="form-group">
        <label for="parent-data-class" class="">Parent Data Class</label>
        <elements-as-tags elements="parents"></elements-as-tags>
        <div class="input-group">
          <input type="text" class="form-control" id="parent-data-class" placeholder="Name" ng-model="parent.element" focus-me="step=='parents'" catalogue-element-picker="dataClass" status='draft' typeahead-on-select="push('parents', 'parent')">
                    <span class="input-group-btn">
                      <button class="btn btn-success" ng-click="push('parents', 'parent')" ng-disabled="isEmpty(parent.element)"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
        </div>
        <p class="help-block">Parent data class is source for the hierarchy relationship</p>
      </div>
      <metadata-editor object="parent.ext" title="Relationship Metadata" owner="owners.parents"></metadata-editor>
    </form>
  </div>
  <div ng-switch-when="children" id="children">
    <br/>
    <form role="form">
      <div class="form-group">
        <label for="child-data-class" class="">Child Data Class</label>
        <elements-as-tags elements="children"></elements-as-tags>
        <div class="input-group">
          <input type="text" class="form-control" id="child-data-class" placeholder="Name" ng-model="child.element" focus-me="step=='children'" catalogue-element-picker="dataClass" typeahead-on-select="pushWithDataModelCheck('children', 'child')">
                    <span class="input-group-btn">
                      <button class="btn btn-success" ng-click="pushWithDataModelCheck('children', 'child')" ng-disabled="isEmpty(child.element)"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
        </div>
        <p class="help-block">Child data class is destination for the hierarchy relationship</p>
      </div>
      <div ng-click="importChildModelsFromCSV()">
        <div uib-alert class="alert alert-info">
          <strong>Hint:</strong> If you have CSV file with sample data you can <a class="alert-link"><span class="fa fa-magic"></span> import child data classes from CSV file headers</a>.
        </div>
      </div>
      <metadata-editor object="child.ext" title="Relationship Metadata" owner="owners.children"></metadata-editor>
    </form>
  </div>
  <div ng-switch-when="elements" id="elements">
    <br/>
    <form role="form">
      <div class="form-group">
        <label for="data-element" class="">Data Element</label>
        <elements-as-tags elements="dataElements"></elements-as-tags>
        <div class="input-group">
          <input type="text" class="form-control" id="data-element" placeholder="Name" ng-model="dataElement.element" focus-me="step=='elements'" catalogue-element-picker="dataElement" typeahead-on-select="pushWithDataModelCheck('dataElements', 'dataElement')">
                    <span class="input-group-btn">
                      <button class="btn btn-success" ng-click="pushWithDataModelCheck('dataElements', 'dataElement')" ng-disabled="isEmpty(dataElement.element)"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
        </div>
        <p class="help-block">Data element is destination for the containment relationship</p>
      </div>
      <div ng-click="importFromCSV()">
        <div uib-alert class="alert alert-info">
          <strong>Hint:</strong> If you have CSV file with sample data you can <a class="alert-link"><span class="fa fa-magic"></span> import data elements from CSV file headers</a>.
        </div>
      </div>
      <metadata-editor object="dataElement.ext" title="Relationship Metadata" owner="owners.contains"></metadata-editor>
    </form>
  </div>
  <div ng-switch-when="dataModels" id="dataModels">
    <br/>
    <form role="form">
      <div class="form-group">
        <label for="data-model" class="">Data Models</label>
        <elements-as-tags elements="dataModels"></elements-as-tags>
        <div class="input-group">
          <input type="text" class="form-control" id="data-model" placeholder="Name" ng-model="dataModel.element" focus-me="step=='dataModels'" catalogue-element-picker="dataModel"  typeahead-on-select="push('dataModels', 'dataModel')" status="draft">
                    <span class="input-group-btn">
                      <button class="btn btn-success" ng-click="push('dataModels', 'dataModel')" ng-disabled="isEmpty(dataModel.element)"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
        </div>
      </div>
    </form>
  </div>
  <div ng-switch-when="summary" id="summary">
    <h4 ng-show="dataClass.name &amp;&amp; !finished">Creating new data class <strong>{{dataClass.name}}</strong></h4>
    <h4 ng-show="dataClass.name &amp;&amp;  finished" class='wizard-summary'>Data Class <strong>{{dataClass.name}} created</strong></h4>
    <uib-progressbar type="{{finished ? 'success' : 'primary'}}" value="pendingActionsCount == 0 ? 100 : Math.round(100 * (totalActions - pendingActionsCount) / totalActions)">{{totalActions - pendingActionsCount}} / {{totalActions}}</uib-progressbar>
  </div>
</div>
<div class="modal-footer" ng-if="step == 'summary'">
  <button ng-disabled="!finished" class="btn btn-success" ng-click="reset()"><span class="glyphicon glyphicon-plus"></span> Create Another</button>
  <button ng-disabled="!finished &amp;&amp; !errored" class="btn btn-default"  ng-click="$close(dataClass)" id="exit-wizard"><span class="glyphicon glyphicon-remove"></span> Close</button>
</div>
