<div class="modal-body">
  <div class="panel-body">
    <form role="form" ng-submit="createRelation()">
      <h4>{{element.name}} <code>{{relationshipTypeInfo.value}}</code> {{relation.name}} <span ng-show="classification"> in data model {{classification.getLabel()}}</span></h4>
      <messages-panel messages="messages"></messages-panel>

      <div class="checkbox text-muted" ng-if="currentDataModel">
        <label for="current-data-model-only">
          <input type="checkbox" id="current-data-model-only" ng-model="currentModelOnly" ng-change="updateModelOnly(currentModelOnly)" ng-disabled="classification &amp;&amp; classification.id != currentDataModel.id"> Only for <catalogue-element-icon type="'dataModel'"></catalogue-element-icon> {{currentDataModel.getLabel()}}
        </label>
      </div>

      <div class="form-group">
        <label>Metadata</label>
        <p class="help-block">Metadata specific to this relationship. For example <code>contains</code> and <code>parent of</code> relationship types supports <code>Name</code> metadata as an alias of nested model or data element.</p>
        <metadata-editor object="metadata" owner="metadataOwner"></metadata-editor>
      </div>
      <fake-submit-button></fake-submit-button>
    </form>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createRelation()" type="submit"><span class="glyphicon glyphicon-edit"></span> Update Relationship</button>
  <button class="btn btn-warning" ng-click="$dismiss()">Cancel</button>
</div>
