<div class="modal-header">
  <h4>{{title}}</h4>
</div>
<div class="modal-body">
  <messages-panel messages="messages"></messages-panel>
  <form role="form" ng-submit="upload()">
    <div class="alert alert-warning">
      <i class="glyphicon glyphicon-alert"></i>
      All imported data classes have to exist in given Data Models. The import fails otherwise.
    </div>
    <div class="form-group">
      <label for="dataModel" class="">Data Model</label>
      <input type="text" class="form-control" id="dataModel" placeholder="Name" ng-model="dataModel"
             catalogue-element-picker="dataModel" status="draft">
      <p class="help-block">Select an existing data model to be updated.</p>
    </div>
    <div class="form-group">
      <label for="hpoDataModel" class="">Hpo Data Model</label>
      <input type="text" class="form-control" id="hpoDataModel" placeholder="" ng-model="hpoDataModel"
             catalogue-element-picker="dataModel">
      <p class="help-block">Select an existing Hpo Data Model.</p>
    </div>
    <div class="form-group">
      <label for="testDataModel" class="">Clinical Tests Data Model</label>
      <input type="text" class="form-control" id="testDataModel" placeholder="" ng-model="testDataModel"
             catalogue-element-picker="dataModel">
      <p class="help-block">Select an existing Clinical Tests Data Model.</p>
    </div>
    <div class="form-group">
      <label for="asset" class="">File</label>
      <input ng-hide="uploading" type="file" accept=".csv" class="form-control" id="asset"
             placeholder="File" ngf-model="asset" ngf-select="onFileSelect($files)">
      <uib-progressbar value="progress" ng-show="uploading &amp;&amp; progress">{{progress}} %</uib-progressbar>
    </div>
    <fake-submit-button/>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-success" ng-click="upload()" ng-disabled="!canUpload()">
    <span class="glyphicon glyphicon-ok"></span> Save
  </button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
