// Model Catalogue Configuration


// Server URL
grails.serverURL = System.getenv('METADATA_SERVER_URL') ?:  "http://localhost:${System.getProperty('server.port') ?: 8080}"

// Data Source
dataSource {
    driverClassName = "com.mysql.jdbc.Driver"
    dialect='org.hibernate.dialect.MySQL5InnoDBDialect'
    url = System.getenv('METADATA_DB_NAME') ?: "jdbc:mysql://localhost:3306/${System.getProperty('mc.db.schema') ?: System.getenv('METADATA_DB_SCHEMA') ?: 'metadata'}?autoReconnect=true&useUnicode=yes"
    username = System.getenv('METADATA_DB_USERNAME')
    password = System.getenv('METADATA_DB_PASSWORD')
    dbCreate = "update"
    properties {
        maxActive = -1
        minEvictableIdleTimeMillis=1800000
        timeBetweenEvictionRunsMillis=1800000
        numTestsPerEvictionRun=3
        testOnBorrow=true
        testWhileIdle=true
        testOnReturn=false
        validationQuery="SELECT 1"
        jdbcInterceptors="ConnectionState"
    }
}


// OAuth Authentication
// oauth {
//     providers {
//         google {
//             // this key is limited to localhost only so no need to hide it
//             api = org.modelcatalogue.repack.org.scribe.builder.api.GoogleApi20
//             key = '225917730237-0hg6u55rgnld9cbtm949ab9h9fk5onr3.apps.googleusercontent.com'
//             secret = 'OG0JVVoy4bnGm48bneIS0haB'
//             successUri = '/oauth/google/success'
//             failureUri = '/oauth/google/error'
//             callback = "${grails.serverURL}/oauth/google/callback"
//             scope = 'https://www.googleapis.com/auth/userinfo.profile https://www.googleapis.com/auth/userinfo.email'
//         }
//         twitter {
//             api = org.modelcatalogue.repack.org.scribe.builder.api.TwitterApi.Authenticate
//             key = '7TEsVb5FADZpVjjy5nFnMo4gd'
//             secret = 'NcHe21gS4fHkorlNBS8mc2QbMez3bL51G3LT18nXy0KEP7SIn0'
//             successUri = '/oauth/twitter/success'
//             failureUri = '/oauth/twitter/error'
//             callback = "${grails.serverURL}/oauth/twitter/callback"
//         }
//     }
// }


// Discourse Forum
// discourse {
//     // do not forget to setup a firewall rule to access this server
//     url = "http://192.168.1.123/"
//     api {
//         key = "af9402ba45b8f4aff5a84bcdf6da85fc7548db746026c5095ed652d0f83fcd8b"
//         user = "discourse"
//     }
//     users {
//         fallbackEmail = 'vladimir.orany+:username@gmail.com'
//     }
//     sso {
//         key = System.getenv('METADATA_DISCOURSE_SSO_KEY') ?: "notasecret"
//     }
// }


// File Storage

// Local File System
// mc.storage.directory = '/path/to/storage'

// AWS S3 Storage

// Your bucket needs to have following bucket policy set:
//
// {
// 	"Id": "Policy1446540507991",
// 	"Version": "2012-10-17",
// 	"Statement": [
// 		{
// 			"Sid": "Stmt1446540504270",
// 			"Action": [
// 				"s3:GetObject"
// 			],
// 			"Effect": "Allow",
// 			"Resource": "arn:aws:s3:::your-bucket-name/*",
// 			"Principal": "*"
// 		}
// 	]
// }
//
// The user of the key and secret needs to have privileges to list and upload.
//

// mc.storage.s3.bucket = 'your-bucket-name'
// mc.storage.s3.key = 'key'
// mc.storage.s3.secret = 'secret'

// mc.welcome.jumbo = """
// <h1>Company Name</h1>
// <h2>Dataset Catalogue</h2>
// <p>
//
// This catalogue contains dataset metadata  </p>
// """
//
// mc.welcome.info = """<div></div>"""
