// config
grails.logging.jul.usebridge = false
// grails.app.context = '/'
grails.serverURL = System.getenv('METADATA_SERVER_URL') ?:  "http://localhost:${System.getProperty('server.port') ?: 8080}/ModelCatalogueCorePluginTestApp"

// datasource
dataSource {
    driverClassName = "com.mysql.jdbc.Driver"
    dialect='org.hibernate.dialect.MySQLInnoDBDialect'
    url = System.getenv('METADATA_DB_NAME') ?: "jdbc:mysql://localhost:3306/${System.getProperty('mc.db.schema') ?: System.getenv('METADATA_DB_SCHEMA') ?: 'nhic'}?autoReconnect=true&useUnicode=yes"
    username = System.getenv('METADATA_DB_USERNAME')
    password = System.getenv('METADATA_DB_PASSWORD')
    dbCreate = "update"
    properties {
        maxActive = -1
        minEvictableIdleTimeMillis=1800000
        timeBetweenEvictionRunsMillis=1800000
        numTestsPerEvictionRun=3
        testOnBorrow=true
        testWhileIdle=true
        testOnReturn=false
        validationQuery="SELECT 1"
        jdbcInterceptors="ConnectionState"
    }
}

//discourse {
//    // do not forget to setup a firewall rule to access this server
//    url = "http://192.168.1.123/"
//    api {
//        key = "af9402ba45b8f4aff5a84bcdf6da85fc7548db746026c5095ed652d0f83fcd8b"
//        user = "discourse"
//    }
//    users {
//        fallbackEmail = 'vladimir.orany+:username@gmail.com'
//    }
//    sso {
//        key = System.getenv('METADATA_DISCOURSE_SSO_KEY') ?: "notasecret"
//    }
//}