<div class="col-md-6">
  <div class="row">
    <div class="col-md-6"><strong class="small">Original File Name</strong></div>
    <div class="col-md-6">
      <small>{{element.originalFileName || 'none'}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong class="small">Content Type</strong></div>
    <div class="col-md-6">
      <small>{{element.contentType || 'unknown'}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong class="small">Size</strong></div>
    <div class="col-md-6">
      <small>{{view.toHumanReadableSize(element.size || 0)}}</small>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="row">
    <div class="col-md-6"><strong class="small">Last Updated</strong></div>
    <div class="col-md-6">
      <small>{{element.lastUpdated | date}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong class="small">Version Created</strong></div>
    <div class="col-md-6">
      <small>{{element.versionCreated | date}}</small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"><strong class="small">Status</strong></div>
    <div class="col-md-6">
      <small>{{element.status}}</small>
    </div>
  </div>
</div>
