<div class="modal-body">
  <form role="form" ng-submit="createRelation()">
    <h4>{{element.name}}</h4>
    <messages-panel messages="messages"></messages-panel>
    <div class="form-group">
      <select id="type" ng-model="relationshipTypeInfo" class="form-control"
              ng-options="rt as rt.value for rt in relationshipTypes" ng-change="updateInfo(relationshipTypeInfo)">
        <option value="">-- choose relation --</option>
      </select>
      <p class="help-block" ng-if="relationshipTypeInfo.description">{{relationshipTypeInfo.description}}</p>
    </div>
    <div class="panel panel-default" ng-repeat="destination in destinations">
      <div class="panel-heading">
        <span class="fa fa-remove text-muted with-pointer pull-right" ng-click="removeDestination($index)"
              ng-if="!$first"></span>
        <h3 class="panel-title">Destination </h3>
      </div>
      <div class="panel-body">
        <messages-panel messages="destination.messages"></messages-panel>
        <div class="form-group">
          <input id="element" type="text" class="form-control" ng-model="destination.relation"
                 catalogue-element-picker resource="relationType"
                 typeahead-on-select="destination.updateRelation(destination.relation)"
                 ng-disabled="!relationshipTypeInfo.type">
          <p class="help-block">
            Creates new destination when nothing is selected from advanced search (new destination name must be provided).
          </p>
        </div>
        <div class="checkbox class-muted" ng-if="currentDataModel">
          <label for="{{'current-data-model-only-' + $index}}">
            <input type="checkbox" id="{{'current-data-model-only-' + $index}}" ng-model="destination.currentModelOnly"> Only for <catalogue-element-icon type="'dataModel'"></catalogue-element-icon> {{currentDataModel.getLabel()}}
          </label>
        </div>

        <div class="form-group">
          <label ng-click="destination.metadataExpanded = ! destination.metadataExpanded" class="expand-metadata">
            Metadata
            <span class="fa fa-fw"
                  ng-class="{'fa-toggle-up': destination.metadataExpanded, 'fa-toggle-down': !destination.metadataExpanded}">
            </span>
          </label>
          <div uib-collapse="!destination.metadataExpanded">
            <p class="help-block metadata-help-block">
              Metadata specific to this relationship. For example <code>contains</code> and
              <code>parent of</code> relationship types supports <code>Name</code> metadata as an alias of
              nested model or data element.
            </p>
            <metadata-editor owner="destination.metadataOwner"
                             object="destination.metadata"></metadata-editor>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-success btn-block" ng-click="addDestination()">
      <span class="fa fa-fw fa-plus"></span> Add Another
    </a>
    <fake-submit-button></fake-submit-button>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="createRelation()" type="submit" ng-disabled="pending">
    <span class="glyphicon glyphicon-link"></span> Create Relationship
  </button>
  <button class="btn btn-warning" ng-click="$dismiss()" ng-disabled="pending">Cancel</button>
</div>
