<div class="col-md-12">
  <div ng-if="editableForm.$visible">
    <input type="text" id="dataClass" placeholder="Data Class" ng-model="copy.dataClass"
           catalogue-element-picker="dataClass" label="el.name">
  </div>
  <span class="editable-empty" ng-if="!editableForm.$visible &amp;&amp; !element.dataClass">empty</span>
  <a ng-if="!editableForm.$visible &amp;&amp; element.dataClass" class="small with-pointer"
     ng-href="{{element.dataClass.href()}}">
    <span ng-class="element.dataClass.getIcon()">&nbsp;</span>
    <span class="unit-name">{{element.dataClass.name}}&nbsp;</span>
    <small>
      <a ng-if="!editableForm.$visible" ng-href="{{element.dataClass.dataModel.href()}}" class="label"
         ng-class="{
            'label-warning': element.dataClass.getDataModelStatus() == 'DRAFT',
            'label-info': element.dataClass.getDataModelStatus() == 'PENDING',
            'label-primary': element.dataClass.getDataModelStatus() == 'FINALIZED',
            'label-danger': element.dataClass.getDataModelStatus() == 'DEPRECATED'
         }">
        {{element.dataClass.getDataModelWithVersion()}}
      </a>
    </small>
  </a>
</div>
