<div class="full-width-editable col-md-12">
  <div ng-if="editableForm.$visible">
    <input type="text" id="measurementUnit" placeholder="Measurement Unit" ng-model="copy.measurementUnit"
           catalogue-element-picker="measurementUnit" label="el.name"/>
  </div>
  <span class="editable-empty" ng-if="!editableForm.$visible &amp;&amp; !element.measurementUnit">empty</span>
  <a ng-if="!editableForm.$visible &amp;&amp; element.measurementUnit" class="small with-pointer"
     ng-href="{{element.measurementUnit.href()}}">
    <span ng-class="element.measurementUnit.getIcon()">&nbsp;</span>
    <span class="unit-name">{{element.measurementUnit.name}}&nbsp;</span>
    <small>
      <a ng-if="!editableForm.$visible" ng-href="{{element.mesurementUnit.dataModel.href()}}" class="label"
         ng-class="{
            'label-warning': element.measurementUnit.getDataModelStatus() == 'DRAFT',
            'label-info': element.measurementUnit.getDataModelStatus() == 'PENDING',
            'label-primary': element.measurementUnit.getDataModelStatus() == 'FINALIZED',
            'label-danger': element.measurementUnit.getDataModelStatus() == 'DEPRECATED'
         }">
        {{element.measurementUnit.getDataModelWithVersion()}}
      </a>
    </small>
  </a>
</div>
