
classification name: 'Domains', {
    dataType name: 'Same'
}

classification name: 'One', {

    globalSearchFor dataType

    model name: 'Model', {
        dataElement name: 'ABC', {
            dataType name: 'Same', classification: 'Domains'
        }
        dataElement name: 'DEF'
        dataElement name: 'GHJ', {
            dataType name: 'Same', classification: 'Domains'
        }
        dataElement name: 'IJK'

        model name: 'MNO'
        model name: 'PQR'

    }
}

classification name: 'Two', {

    globalSearchFor dataType

    model name: 'Model', {
        dataElement name: 'ABC', {
            dataType name: 'Same', classification: 'Domains'
        }
        dataElement name: 'DEF'
        dataElement name: 'GHJ', {
            dataType name: 'Same', classification: 'Domains'
        }
        dataElement name: 'IJK'

        model name: 'MNO'
        model name: 'PQR'

    }
}

