<div class="modal-header">
  <h4>{{title}}</h4>
</div>
<div class="modal-body">
  <messages-panel messages="messages"></messages-panel>
  <form role="form" ng-submit="saveElement()">
    <div class="form-group" ng-if="!hideDataModels()">
      <label for="dataModel"> Data Models</label>
      <elements-as-tags elements="copy.dataModels"></elements-as-tags>
      <input id="dataModel" placeholder="Data Model" ng-model="pending.dataModel" catalogue-element-picker="dataModel" label="el.name" typeahead-on-select="addToDataModels()">
    </div>
    <div class="form-group">
      <label for="name" class="">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Name" ng-model="copy.name">
    </div>
    <div class="form-group">
      <label for="modelCatalogueId" class="">Catalogue ID</label>
      <input type="text" class="form-control" id="modelCatalogueId" placeholder="e.g. external ID, namespace (leave blank for generated)" ng-model="copy.modelCatalogueId">
    </div>
    <div class="form-group">
      <label for="description" class="">Description</label>
      <textarea rows="10" ng-model="copy.description" placeholder="Description" class="form-control" id="description"></textarea>
    </div>
    <div class="form-group">
      <label for="rule" ng-click="ruleCollapsed = !ruleCollapsed">Rule <span class="glyphicon" ng-class="{'glyphicon-collapse-down': ruleCollapsed, 'glyphicon-collapse-up': !ruleCollapsed}"></span></label>
      <div uib-collapse="ruleCollapsed" >
        <textarea rows="10" ng-model="copy.rule" placeholder="Rule" class="form-control" id="rule"></textarea>
        <p class="help-block">Enter valid <a href="http://www.groovy-lang.org/" target="_blank">Groovy</a> code. Variable <code>x</code> refers to the value validated value and  <code>dataType</code> to current data type. Last row is the result which should be <code>boolean</code> value. For example you can <a ng-click="showRegexExample()"><span class="fa fa-magic"></span> validate using regular expression</a> or <a ng-click="showSetExample()"><span class="fa fa-magic"></span> values in set</a></p>
      </div>
    </div>
    <label class="radio-inline">
      <input type="radio" ng-model="subtype" name="subtype" id="pickSimpleType" value="dataType"> Simple
    </label>
    <label class="radio-inline">
      <input ng-model="subtype" type="radio"  name="subtype" id="pickEnumeratedType" value="enumeratedType"> Enumerated
    </label>
    <label class="radio-inline">
      <input ng-model="subtype" type="radio" name="subtype" id="pickPrimitiveType" value="primitiveType"> Primitive
    </label>
    <label class="radio-inline">
      <input ng-model="subtype" type="radio" name="subtype" id="pickReferenceType" value="referenceType"> Reference
    </label>
    <label class="radio-inline">
      <input ng-model="subtype" type="radio" name="subtype" id="pickSubsetType" value="subset"> Subset
    </label>
    <div uib-collapse="subtype != 'enumeratedType'">
      <ordered-map-editor object="copy.enumerations" title="Enumerations" key-placeholder="Value or copy & paste from excel" value-placeholder="Description"></ordered-map-editor>
    </div>
    <div uib-collapse="subtype != 'referenceType'">
      <div class="form-group" data-view-name="Data Class">
        <label for="dataClass" class="">Data Class</label>
        <input type="text" id="dataClass" placeholder="Data Class" ng-model="copy.dataClass" catalogue-element-picker="dataClass" label="el.name">
      </div>
    </div>
    <div uib-collapse="subtype != 'primitiveType'">
      <div class="form-group" data-view-name="Measurement Unit">
        <label for="measurementUnit" class="">Measurement Unit</label>
        <input type="text" id="measurementUnit" placeholder="Measurement Unit" ng-model="copy.measurementUnit" catalogue-element-picker="measurementUnit" label="el.name">
      </div>
    </div>
    <div uib-collapse="subtype != 'subset'">
      <div class="form-group" data-view-name="Enumerated Type Base">
        <label for="baseEnumeration" class="">Enumerated Type Base</label>
        <input type="text" id="baseEnumeration" placeholder="Enumerated Type Base" ng-model="copy.baseEnumeration" catalogue-element-picker="enumeratedType" label="el.name">
      </div>
      <div class="form-group" ng-if="copy.baseEnumeration.enumerations" data-view-name="Subset">
        <label for="subset">Subset</label>
        <div class="alert alert-warning" ng-if="copy.selectedEnumerations.values.length == 0">If no enumeration value selected, all values will be used</div>
        <div class="checkbox" ng-repeat="value in copy.baseEnumeration.enumerations.values track by value.key">
          <label>
            <input type="checkbox" value="{{value}}" id="{{'subtype-enum-' + value.id}}" ng-checked="copy.selectedEnumerations.values.indexOf(value) > -1" ng-click="toggleSelection(copy.selectedEnumerations.values, value)">
            {{value.key}}: {{value.value}}
          </label>
        </div>
      </div>
    </div>
    <fake-submit-button ></fake-submit-button>
  </form>
</div>
<div class="modal-footer">
  <contextual-actions role="{{::actionRoleAccess.ROLE_MODAL_ACTION}}"></contextual-actions>
</div>
