<!-- Jumbotron -->
<div hide-if-logged-in>
  <div class="jumbotron">
    <!-- from config mc.welcome.jumbo -->
    <div ng-bind-html="welcome.jumbo"></div>
    <form ng-controller="mc.core.ui.states.controllers.UserCtrl">
      <button ng-click="login()" class="btn btn-large btn-primary" type="submit">Login <i
        class="glyphicon glyphicon-log-in"></i></button>
      <a ng-href="{{registrationUrl}}" ng-if="registrationUrl" class="btn btn-large btn-primary">
        Sign Up
        <span class="fa fa-user"></span>
      </a>
    </form>
  </div>

  <!-- from config mc.welcome.info -->
  <div id="info" class="row" ng-bind-html="welcome.info"></div>
</div>

<ng-include src="'/mc/core/ui/general/footer.html'"></ng-include>
