<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right data-model-create-buttons">
          <contextual-actions role="data-models" no-colors="true" size="sm"></contextual-actions>
        </div>
        <div class="leave-10-before"></div>
        <div ng-if="showPreload()">
          <div class="jumbotron">
            <h2>Welcome to Metadata Registry</h2>
            <p>
              <a id="dashboard-button-link" href="/dashboard/index"><button class="btn btn-primary btn-lg">Dashboard</button></a>
              <button id="create-new-button" class="btn btn-success btn-lg" ng-click="createElement()"><span class="fa fa-plus-circle"></span>
                Create New
              </button>
            </p>
          </div>
        </div>

        <div ng-if="!showPreload()">
          <div ng-if="type == 'elements'">
            <infinite-list transform="dataModelOrDestination($element)"
                           column-classes="'col-lg-12 col-sm-12 col-md-12'"
                           type="short"
                           list="list">
            </infinite-list>
          </div>

          <div ng-if="type != 'elements'">
            <infinite-list transform="dataModelOrDestination($element)"
                           column-classes="'col-lg-12 col-sm-12 col-md-12'"
                           list="list">
            </infinite-list>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ng-include src="'/mc/core/ui/general/footer.html'"></ng-include>
  </div>
</div>
