<li class="catalogue-element-treeview-item">
  <div class="catalogue-element-treeview-text-content"
       ng-class="{'active': node.active, 'archived': element.$$archived}">
    <span class="badge pull-right" ng-if="node.numberOfChildren" ng-switch="node.numberOfChildren">
      <span ng-switch-default>{{::node.numberOfChildren}}</span>
      <span ng-switch-when="2147483647" class="fa fa-question fa-inverse"></span>
    </span>
    <span class="catalogue-element-treeview-labels">
      <span ng-if="::!element.elementType">
        <a class="catalogue-element-treeview-icon btn btn-link">
          <span class="fa fa-fw fa-ban"></span>
        </a>
        No Data
      </span>
      <a ng-if="::element.elementType" class="catalogue-element-treeview-icon  btn btn-link"
         ng-click="select(node)">
        <span ng-if="!extraParameters.prefetch &amp;&amp; node.numberOfChildren &amp;&amp; !node.loadingChildren">
          <span class="fa fa-fw fa-caret-right text-muted" ng-if="node.collapsed">
          </span>
          <span class="fa fa-fw fa-caret-down text-muted" ng-if="!node.collapsed">
          </span>
        </span>

        <span class="fa fa-fw fa-refresh text-muted" ng-if="node.loadingChildren"></span>
        <span class="fa fa-fw text-muted" ng-if="extraParameters.prefetch"></span>
        <span class="fa fa-fw" ng-if="!node.numberOfChildren && !node.loadingChildren"></span>
      </a>
      <span class="catalogue-element-treeview-name"
            ng-class="{
              'text-warning': element.status == 'DRAFT',
              'text-info': element.status == 'PENDING',
              'text-danger': (element.status == 'DEPRECATED' || element.undone)
            }"
            ng-click="select(node)">
        <span ng-class="node.icon" class="text-muted"></span>
        {{node.name}}
        <span class="text-muted">
          {{node.metadataOccurrencesToAsterisk}}
        </span>
        <small class="text-muted" ng-if="element.$$localName">{{element.name}}</small>
        <small class="text-muted">
          <span ng-if="::element.latestVersionId"
                class="catalogue-element-treeview-version-number">
            {{node.dataModelWithVersion}}
          </span>
        </small>
      </span>
      <small class="text-muted" ng-if="::node.href">
        <a class="catalogue-element-treeview-link"
           ng-href="{{::node.href}}"
           title="{{node.name}}"
           target="_blank">
          <span class="fa fa-external-link text-muted"></span>
        </a>
      </small>
    </span>
  </div>
  <ul ng-if="node.children" ng-hide="node.collapsed" class="catalogue-element-treeview-list">
    <catalogue-element-treeview-item treeview="::treeview" sly-repeat="child in node.children"
                                     extra-parameters="::{'path': path, 'descendPath': extraParameters.descendPath.concat(child.id)}"
                                     element="child">
    </catalogue-element-treeview-item>
    <li ng-if="node.numberOfChildren > node.children.length" class="catalogue-element-treeview-item">
      <span class="catalogue-element-treeview-labels" ng-click="node.showMore()">
        <a class="catalogue-element-treeview-icon btn btn-link catalogue-element-treeview-show-more"
           ng-class="'show-more-' + nodeid">
          <span class="fa fa-fw fa-chevron-down"></span>
        </a>
        <a class="text-muted">
          Show more
        </a>
      </span>
    </li>
  </ul>
</li>
