<div class="row catalogue-element-view">
  <div ng-if="!displayOnly">
    <div class="col-md-12">
      <form editable-form name="editableForm" onaftersave="inlineUpdateElement()">
        <div class="catalogue-element-detail-actions">
          <contextual-actions icon-only="true" role="{{::actionRoleAccess.ROLE_ITEM_DETAIL_ACTION}}" size="xs" no-colors="true"></contextual-actions>
        </div>
        <h3 class="ce-name">
          <small ng-class="element.getIcon()" title="{{element.getElementTypeName()}}"></small>
          <span class="text-danger fa fa-fw fa-warning"
                ng-if="getDeprecationWarning()"
                title="{{getDeprecationWarning()}}">
          </span>
          <span editable-text="copy.name" e-name="name">{{element.name}}</span>
          <small class="text-muted" editable-text="copy.modelCatalogueId" e-name="modelCatalogueId" ng-if="element.getVersionAndId()">
              {{element.getVersionAndId()}}
          </small>
          <small ng-if="element.getDataModelWithVersion()">
            <a ng-href="{{element.dataModel.href()}}"
               class="label"
               ng-class="{
                'label-warning': element.getDataModelStatus() == 'DRAFT',
                'label-info': element.getDataModelStatus() == 'PENDING',
                'label-primary': element.getDataModelStatus() == 'FINALIZED',
                'label-danger': element.getDataModelStatus() == 'DEPRECATED'
              }">
              <catalogue-element-icon type="'dataModel'"></catalogue-element-icon>
              {{element.getDataModelWithVersion()}}
            </a>
          </small>
        </h3>
        <messages-panel messages="messages" max="1000"></messages-panel>
        <div class="row detail-section" ng-repeat="view in detailSections track by view.title"
             data-view-name="{{view.title}}">
          <p ng-if="view.title" class="text-center detail-section-title small">
            <span class="title">
              <span class="btn btn-link btn-sm"
                    ng-click="view.toggleTemplateHidden(element)"
                    ng-show="view.hideByDefault != null || view.hideIfNoData != null">
                    {{view.title}}
              </span>
              <span ng-hide="view.hideByDefault != null || view.hideIfNoData != null">
                {{view.title}}
              </span>
              <span ng-repeat="action in view.actions" class="btn" ng-class="action.icon"
                    ng-hide="action.hide(element, security)"
                    ng-click="action.action(messages, element)" data-action-name="{{action.name}}">
              </span>
            </span>
          </p>
          <div ng-hide="view.isTemplateHidden(element)" data-view-content-name="{{view.title}}">
            <ng-include src="view.template"></ng-include>
          </div>
        </div>
      </form>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-repeat="tab in tabs track by tab.name" ng-if="!tab.hidden"
            ng-class="{active: tab.active}"
            data-tab-name="{{tab.name}}">
          <a ng-click="select(tab)">
            <span ng-class="{'text-muted': tab.type == 'decorated-list' &amp;&amp; tab.value.total == 0}">
              {{tab.heading}}
            </span>
            <span ng-show="tab.value.total">
              <span class="badge tab-value-total" ng-if="tab.value.total != 2147483647">{{tab.value.total}}</span>
              <span class="badge tab-value-total" ng-if="tab.value.total == 2147483647">
                <span class="fa fa-question fa-inverse"></span>
              </span>
            </span>
          </a>
        </li>
      </ul>

      <div ng-repeat="tab in tabs track by tab.name" class="tab-pane">
        <div id="{{tab.name}}-tab" class="cev-tab-content" ng-if="tab.active">
          <ng-include src="'modelcatalogue/core/ui/catalogueElementView/' + tab.type + '.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="displayOnly">
    <div class="col-md-12">
      <div ng-repeat="tab in tabs track by tab.name" class="tab-pane">
        <div id="{{tab.name}}-tab" class="cev-tab-content" ng-if="tab.active">
          <h3 class="ce-name">
            <small ng-class="element.getIcon()" title="{{element.getElementTypeName()}}"></small>
            <span class="text-danger fa fa-fw fa-warning"
                  ng-if="getDeprecationWarning()"
                  title="{{getDeprecationWarning()}}">
            </span>
            {{element.name}} {{tab.heading}}
            <small>
              <span class="label"
                    ng-class="{
                      'label-warning': element.getDataModelStatus() == 'DRAFT',
                      'label-info': element.getDataModelStatus() == 'PENDING',
                      'label-primary': element.getDataModelStatus() == 'FINALIZED',
                      'label-danger': element.getDataModelStatus() == 'DEPRECATED'}">
                {{element.getDataModelWithVersion()}}
              </span>
            </small>
          </h3>
          <ng-include src="'modelcatalogue/core/ui/catalogueElementView/' + tab.type + '.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
