<div>
  <div class="inf-table-header">
    <table class="inf-table table">
      <thead>
      <tr class="inf-table-header-row">
        <th class="inf-table-header-cell" ng-repeat="column in columns track by column.header"
            ng-class="evaluateClasses(column.classes)">
          <span ng-if="!column.sort">
            {{column.header}}
          </span>
          <span ng-if=" column.sort">
            <a class="inf-table-header-sortable" ng-click="sortBy(column)">
              <span class="fa fa-fw" ng-class="getSortClass(column)"></span>
              {{column.header}}
            </a>
          </span>
        </th>
      </tr>
      </thead>
    </table>
  </div>
  <div class="inf-table-spacer">
  </div>
  <div class="inf-table-body">
    <table class="inf-table table"
           ng-class="{'table-expand': manualLoad && total != elements.length && elements.length > 0}">
      <tbody ng-if="rows" sortable="sortableOptions">
      <tr class="inf-table-item-row" ng-repeat-start="row in rows" ng-class="row.classesForStatus">
        <td class="inf-table-item-cell" ng-class="row.head.classes" ng-switch="row.head.type">
          <span ng-if="row.sortable" class="handle fa fa-ellipsis-v fa-fw text-muted with-move"></span>
          <a title="Show row actions" ng-click="row.$$expanded = !row.$$expanded"
             class="inf-cell-expand text-nounderline">
            <span class="fa fa-fw"
                  ng-class="{'fa-minus-square-o ': row.$$expanded, 'fa-plus-square-o ': !row.$$expanded}">
            </span>
          </a>

          <a ng-switch-when="link" ng-href="{{row.head.href}}" class="preserve-new-lines">{{row.head.value}}</a>
          <span ng-switch-when="html"><span ng-bind-html="row.head.value"></span></span>
          <span ng-switch-when="plain"><span class="preserve-new-lines">{{row.head.value}}</span></span>
        </td>
        <td class="inf-table-item-cell" ng-class="cell.classes" ng-repeat="cell in row.tail" ng-switch="cell.type">
          <a ng-switch-when="link" ng-href="{{cell.href}}" class="preserve-new-lines">{{cell.value}}</a>
          <span ng-switch-when="html"><span ng-bind-html="cell.value" class="preserve-new-lines"></span></span>
          <span ng-switch-when="plain">
            <span class="preserve-new-lines" ng-if="!cell.textEllipsis">{{cell.value}}</span>
            <span class="preserve-new-lines" ellipsis="{{cell.value}}" max-characters="100" ng-if="cell.textEllipsis">
            </span>
            <span ng-if="cell.shorten"
                  ng-click="cell.value = cell.fullValue ; cell.shorten = false"
                  class="fa fa-fw fa-plus-square-o"></span>
          </span>
        </td>
      </tr>
      <tr class="actions-row active" ng-repeat-end="" ng-if="row.$$expanded">
        <td class="actions-cell col-md-12" colspan="{{columns.length}}">
          <div class="text-right" ng-if="row.element.relation" ng-init="element = row.element.relation">
            <span class="pull-left text-muted"><em>Actions for {{row.element.relation.getElementTypeName()}}</em></span>
            <contextual-actions size="sm" no-colors="true" role="{{::actionRoleAccess.ROLE_ITEM_DETAIL_ACTION}},{{::actionRoleAccess.ROLE_ITEM_ACTION}}"
                                no-actions="true"></contextual-actions>
          </div>
          <div class="text-right" ng-init="element = row.element">
            <span class="pull-left text-muted"><em>Actions for {{row.element.getElementTypeName()}}</em></span>
            <contextual-actions size="sm" no-colors="true" role="{{::actionRoleAccess.ROLE_ITEM_DETAIL_ACTION}},{{::actionRoleAccess.ROLE_ITEM_ACTION}}"
                                no-actions="true"></contextual-actions>
          </div>
          <blockquote ng-if="row.element.description || row.element.relation.description" class="preserve-new-lines"
                      ng-bind-html="row.element.description || row.element.relation.description"></blockquote>
          <div class="infinite-row-additional-info">
            <properties-pane item="row.relation ? row.relation : row.element" properties="row.properties"
                             ng-if="row.properties.length"></properties-pane>
          </div>
        </td>
      </tr>
      </tbody>
      <tfoot class="table-footer">
      <tr>
        <td colspan="{{columns.length}}">
          <table class="table">
            <tfoot>
            <tr class="active" ng-if="loading">
              <td class="text-center">
                <span class="fa fa-fw fa-refresh fa-spin"></span>
              </td>
              <td class="col-md-1"></td>
            </tr>
            <tr class="active cursor-pointer"
                ng-if="!loading && manualLoad && total != elements.length && elements.length > 0"
                ng-click="doManualLoad()">
              <td class="text-center">
                <span class="fa fa-angle-double-down"></span>
              </td>
              <td class="col-md-1"></td>
            </tr>
            <tr class="active inf-table-footer-action cursor-pointer" ng-click="footerAction.run()">
              <td class="text-center">
                <span class="fa" ng-class="getFooterCentralIconClass()"></span>
              </td>
              <td class="col-md-1">
                <span class="pull-right text-muted" ng-if="total != 0"><em>{{elements.length}} of {{total}}</em></span>
                <span class="pull-right text-muted" ng-if="total == 0"><em>Empty</em></span>
              </td>
            </tr>
            </tfoot>
          </table>
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
