<table class="pp-table table">
  <thead>
  <th class="col-md-4">{{title}}</th>
  <th class="col-md-6">{{valueTitle}}</th>
  </thead>
  <tbody>
  <tr class="pp-table-property-row" ng-repeat="property in properties" ng-switch="displayType(property.value, item)"
      ng-init="theValue = evaluateValue(property.value, item)">
    <th class="pp-table-property-label col-md-4">{{property.label}}</th>
    <td class="pp-table-property-value-no-wrap col-md-8 pp-table-property-element-value"
        data-value-for="{{property.label}}" ng-switch-when="element">
      <span ng-class="theValue.getIcon()" class="text-muted"></span>
      <a ng-click="theValue.show()">{{theValue.name}}</a>
      <small ng-if="theValue.dataModel"><a ng-href="{{theValue.dataModel.href()}}" class="label"
                ng-class="{'label-warning': theValue.getDataModelStatus() == 'DRAFT', 'label-info': theValue.getDataModelStatus() == 'PENDING', 'label-primary': theValue.getDataModelStatus() == 'FINALIZED', 'label-danger': theValue.getDataModelStatus() == 'DEPRECATED'}">
        {{theValue.getDataModelWithVersion()}}
      </a>
      </small>
      <span class="fa fa-fw"
            ng-class="{'fa-plus-square-o': (!theValue._expanded &amp;&amp; !theValue._expanding), 'fa-refresh': theValue._expanding, 'fa-minus-square-o':(theValue._expanded &amp;&amp; !theValue._expanding)}"
            ng-click="expandOrCollapse(theValue)"></span>
      <div uib-collapse="!theValue._expanded">
        <blockquote>{{theValue.description ? theValue.description : 'No Description' }}</blockquote>
        <div ng-show="theValue.enumerations" class="preserve-new-lines"><strong>Enumerations</strong>
          {{getEnumerations(theValue)}}
        </div>
        <div ng-show="theValue.dataClass" class="preserve-new-lines"><strong>Data Class</strong>
          <span ng-bind-html="getEnumerations(theValue)"></span>
        </div>
        <div ng-if="theValue.dataType"><span class="text-muted"><catalogue-element-icon
          type="'dataType'"></catalogue-element-icon></span> <a ng-href="{{theValue.dataType.href()}}">{{theValue.dataType.name}}</a>
        </div>
        <div ng-show="theValue.dataType.enumerations" class="preserve-new-lines"><strong>Enumerations</strong>
          {{getEnumerations(theValue.dataType)}}
        </div>
        <div ng-show="theValue.dataType.dataClass" class="preserve-new-lines"><strong>Data Class</strong>
          <span ng-bind-html="getEnumerations(theValue.dataType)"></span>
        </div>
      </div>
    </td>
    <td class="pp-table-property-value-no-wrap col-md-8 pp-table-property-element-value"
        data-value-for="{{property.label}}" ng-switch-when="relationship">
      <span ng-class="theValue.getIcon()" class="text-muted"></span>
      <a ng-href="{{theValue.source.href()}}"><span ng-class="theValue.source.getIcon()" class="text-muted"></span> {{theValue.source.name}}</a>
      <small ng-if="theValue.source.dataModel"><a ng-href="{{theValue.source.dataModel.href()}}" class="label"
                ng-class="{'label-warning': theValue.source.getDataModelStatus() == 'DRAFT', 'label-info': theValue.source.getDataModelStatus() == 'PENDING', 'label-primary': theValue.source.getDataModelStatus() == 'FINALIZED', 'label-danger': theValue.source.getDataModelStatus() == 'DEPRECATED'}">
        {{theValue.source.getDataModelWithVersion()}}
      </a>
      </small>

      {{theValue.type.name}}
      <a ng-href="{{theValue.destination.href()}}"><span ng-class="theValue.destination.getIcon()" class="text-muted"></span> {{theValue.destination.name}}</a>
      <small ng-if="theValue.destination.dataModel"><a ng-href="{{theValue.destination.dataModel.href()}}" class="label"
                ng-class="{'label-warning': theValue.destination.getDataModelStatus() == 'DRAFT', 'label-info': theValue.destination.getDataModelStatus() == 'PENDING', 'label-primary': theValue.destination.getDataModelStatus() == 'FINALIZED', 'label-danger': theValue.destination.getDataModelStatus() == 'DEPRECATED'}">
        {{theValue.destination.getDataModelWithVersion()}}
      </a>
      </small>
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-when="date">{{theValue | date:'short'}}
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-when="extensionValue">{{theValue.name}} : {{theValue.extensionValue}}
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-when="orderedMap">
      <div class="preserve-new-lines">
        <span ng-bind-html="printOrderedMap(theValue)"></span>
      </div>
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-when="elementArray">
      <span ng-repeat="element in theValue track by element.link">
        <a class="label with-pointer" ng-href="{{element.href()}}">
          <span ng-class="element.getIcon()"></span>
          {{element.name}}
          <small <small ng-if="element.dataModel">>
            <a ng-href="{{element.dataModel.href()}}" class="label"
               ng-class="{'label-warning': element.getDataModelStatus() == 'DRAFT', 'label-info': element.getDataModelStatus() == 'PENDING', 'label-primary': element.getDataModelStatus() == 'FINALIZED', 'label-danger': element.getDataModelStatus() == 'DEPRECATED'}">
              {{element.getDataModelWithVersion()}}
            </a>
          </small>
        </a>
      </span>
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-when="array">
      <span ng-repeat="element in theValue track by element.link">
        {{element}}
        <span ng-hide="$last">, </span>
      </span>
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-when="text" ng-bind-html="trustedHtml(theValue == null ? '' : ('' + theValue))">
    </td>
    <td class="pp-table-property-value col-md-8 pp-table-property-element-value" data-value-for="{{property.label}}"
        ng-switch-default ng-bind-html="trustedHtml(theValue == null ? '' : ('' + theValue))">
    </td>
  </tr>
  </tbody>
</table>
