<div class="col-md-12" ng-if="!editableForm.$visible && element.enumerations.values">
  <div class="row">
    <div class="col-md-12">
      <strong class="small">Enumerations</strong>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table table-condensed table-striped table-borderless table-no-margin">
        <tr ng-repeat="value in ::(editableForm.$visible ? [] : element.enumerations.values) track by value.key"
            ng-class="{'danger': value.deprecated}">
          <th class="col-md-3">
            <small class="text-wrap">
              {{::value.key}}
              <span ng-show="value.deprecated">(deprecated)</span>
            </small>
          </th>
          <td>
            <small>{{::value.value}}</small>
          </td>
          <td>
            <a class="btn btn-link btn-xs"
               ng-click="view.setDeprecated(value, !value.deprecated, globalMessages, element, rest, modelCatalogueApiRoot)">
              <span class="fa" ng-class="{'fa-ban': !value.deprecated, 'fa-repeat': value.deprecated}"></span>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="col-md-12" ng-if="editableForm.$visible">
  <div class="row">
    <div class="custom-metadata col-md-12">
      <div ng-if="copy.ext.get('http://www.modelcatalogue.org/metadata/enumerateType#subset')"
           class="alert alert-warning">
        Following values are inherited and will be overridden when the base enumeration changes:
        {{copy.ext.get('http://www.modelcatalogue.org/metadata/enumerateType#subset')}}
      </div>
      <ordered-map-editor object="copy.enumerations"
                          can-deprecate="true"
                          title="Enumerations"
                          key-placeholder="Value or copy & paste from excel"
                          value-placeholder="Description">
      </ordered-map-editor>
    </div>
  </div>
</div>
