<div class="col-md-3">
  <strong class="small">Model Catalogue ID</strong>
</div>
<div class="col-md-9">
  <small>{{element.internalModelCatalogueId}}</small>
</div>
<div class="col-md-3"
     ng-if="element.modelCatalogueId && element.modelCatalogueId != element.internalModelCatalogueId">
  <strong class="small">External ID</strong>
</div>
<div class="full-width-editable col-md-9"
     ng-if="element.modelCatalogueId && element.modelCatalogueId != element.internalModelCatalogueId">
  <span class="small" editable-text="copy.modelCatalogueId">
    {{element.modelCatalogueId}}
  </span>
</div>
