<div class="row catalogue-element-view">
  <div ng-if="!displayOnly">
    <div class="col-md-12">
      <form editable-form name="editableForm" onaftersave="inlineUpdateElement()">
        <div class="catalogue-element-detail-actions">
          <contextual-actions icon-only="true" role="item-detail" size="xs" no-colors="true"></contextual-actions>
        </div>
        <h3 class="ce-name">
          <small ng-class="element.getIcon()" title="{{element.getElementTypeName()}}"></small>
          <span class="text-danger fa fa-fw fa-warning" ng-if="getDeprecationWarning()"
                title="{{getDeprecationWarning()}}"></span> <span editable-text="copy.name" e-name="name">{{element.name}}</span>
          <small><a ng-href="{{element.dataModel.href()}}" class="label"
                    ng-class="{'label-warning': element.getDataModelStatus() == 'DRAFT', 'label-info': element.getDataModelStatus() == 'PENDING', 'label-primary': element.getDataModelStatus() == 'FINALIZED', 'label-danger': element.getDataModelStatus() == 'DEPRECATED'}">{{element.getDataModelWithVersion()}}</a>
          </small>
        </h3>
        <messages-panel messages="messages"></messages-panel>
        <div class="row detail-section" ng-repeat="view in detailSections" data-view-name="{{view.title}}">
          <p ng-if="view.title"
             class="text-center detail-section-title small"
             ng-init="view.templateHidden = view.hideIfNoData && !view.hasData(element)">
                <span class="title btn btn-link btn-sm"
                      ng-click="view.templateHidden = !view.templateHidden"
                      ng-show="view.hideIfNoData && !view.hasData(element)">
                  {{view.title}}
                </span>
                <span class="title" ng-hide="view.hideIfNoData && !view.hasData(element)">
                  {{view.title}}
                </span>
          </p>
          <div ng-hide="view.templateHidden" data-view-content-name="{{view.title}}">
            <ng-include src="view.template"></ng-include>
          </div>
        </div>
      </form>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-repeat="tab in tabs" ng-if="!tab.hidden" ng-class="{active: tab.active}"
            data-tab-name="{{tab.name}}"><a ng-click="select(tab)"><span
          ng-class="{'text-muted': tab.type == 'decorated-list' &amp;&amp; tab.value.total == 0}">{{tab.heading}}</span><span
          ng-show="tab.value.total"> <span class="badge tab-value-total" ng-if="tab.value.total != 2147483647">{{tab.value.total}}</span><span
          class="badge tab-value-total" ng-if="tab.value.total == 2147483647"><span
          class="fa fa-question fa-inverse"</span></span></a></li>
      </ul>

      <div ng-repeat="tab in tabs" class="tab-pane">
        <div id="{{tab.name}}-tab" class="cev-tab-content" ng-if="tab.active">
          <ng-include src="'modelcatalogue/core/ui/catalogueElementView/' + tab.type + '.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="displayOnly">
    <div class="col-md-12">
      <div ng-repeat="tab in tabs" class="tab-pane">
        <div id="{{tab.name}}-tab" class="cev-tab-content" ng-if="tab.active">
          <h3 class="ce-name">
            <small ng-class="element.getIcon()" title="{{element.getElementTypeName()}}"></small>
            <span class="text-danger fa fa-fw fa-warning" ng-if="getDeprecationWarning()"
                  title="{{getDeprecationWarning()}}"></span> {{element.name}} {{tab.heading}}
            <small><span class="label"
                         ng-class="{'label-warning': element.getDataModelStatus() == 'DRAFT', 'label-info': element.getDataModelStatus() == 'PENDING', 'label-primary': element.getDataModelStatus() == 'FINALIZED', 'label-danger': element.getDataModelStatus() == 'DEPRECATED'}">{{element.getDataModelWithVersion()}}</span>
            </small>
          </h3>
          <ng-include src="'modelcatalogue/core/ui/catalogueElementView/' + tab.type + '.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
