<div>
  <div ng-repeat="editor in ::availableEditors">
    <hr/>
    <h4 class="text-center">{{::editor.getTitle()}}</h4>
    <hr/>
    <div ng-include="editor.getTemplate()"></div>
    <hr/>
  </div>
  <h4 class="text-center" ng-if="availableEditors.length">General</h4>
  <hr ng-if="availableEditors.length"/>
  <table class="soe-table table" title="{{title}}">
    <thead ng-if="title || valueTitle">
    <th></th>
    <th class="col-md-5 col-sm-4 soe-table-property-key">{{::title}}</th>
    <th class="col-md-5 col-sm-5 soe-table-property-value ">{{::valueTitle}}</th>
    <th class="col-md-2 col-sm-3 soe-table-property-actions">
      <!-- to allow submitting forms with only this editor within -->
      <input type="submit" class="hide">
    </th>
    </thead>
    <tbody sortable="sortableOptions">
    <tr class="soe-table-property-row" ng-repeat="property in object.values"
        ng-class="{'has-error': !isKeyUnique(property.key)}">
      <td><span class="handle fa fa-ellipsis-v fa-fw text-muted with-move"></span></td>
      <th class="soe-table-property-key">
        <input type="text" ng-model="property.key" class="form-control"
               ng-paste="pasteExcel($event)"
               placeholder="{{valuePlaceholder ? keyPlaceholder : 'Key'}}" autofocus="autofocus"
               focus-me="lastAddedRow == $index &amp;&amp; $index != 0"
               ng-disabled="property.deprecated">
      </th>
      <td class="soe-table-property-value">
        <input type="text" ng-model="property.value"
               class="form-control"
               data-for-property="{{property.key}}"
               placeholder="{{valuePlaceholder ? valuePlaceholder : 'Value (leave blank for null)'}}"
               ng-keydown="addNewRowOnTab($event, $index, $last)"
               ng-disabled="handledKeys.indexOf(property.key) > -1 || property.deprecated"/>
      </td>
      <td class="soe-table-property-actions">
        <p>
          <a class="btn btn-link btn-sm soe-add-row" ng-click="addProperty($index)" data-for-property="{{property.key}}">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
          <a class="btn btn-link btn-sm soe-remove-row" ng-click="removeProperty($index)" data-for-property="{{property.key}}">
            <span class="glyphicon glyphicon-minus"></span>
          </a>
          <a class="btn btn-link btn-sm" ng-click="setDeprecated(property, !property.deprecated)" ng-if="canDeprecate">
            <span class="fa" ng-class="{'fa-ban': !property.deprecated, 'fa-repeat': property.deprecated}"></span>
          </a>
        </p>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info">
        <strong>Excel copy & paste.</strong>
        You can copy & paste enumerations from excel (click on <i class="glyphicon glyphicon-plus"></i> and paste excel
        content). First column should be Value and the second column should be Description. If for any reason copy &
        paste doesn't work, please use
        <button type="button" class="btn btn-sm btn-default" ng-click="showImportExcel = !showImportExcel">
          Paste from Text Area
        </button>
        functionality.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div ng-show="showImportExcel">
        <div class="form-group">
          <textarea name="import-excel" id="import-excel" class="form-control input-xs" cols="1000" rows="10"
                    ng-model="importExcelText"
                    placeholder="Copy and paste enumerations from excel. First column should be Value and the second column should be Description.">
          </textarea>
        </div>
        <button type="button" class="btn btn-sm btn-primary" ng-click="importExcelText = importExcel(importExcelText)">
          Import
        </button>
      </div>
    </div>
  </div>
</div>
