<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="input-group input-group-lg">
              <span class="input-group-addon"><span class="fa fa-search"></span> </span>
              <input type="text" placeholder="{{'Search ' + getCurrentType()}}" class="form-control"
                     ng-model="q" ng-model-options="{debounce: 500}" focus-me="true">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  {{getCurrentStatus()}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li ng-class="{'active' : getCurrentStatus() == 'All'}">
                    <a ng-click="changeStatus()">All</a>
                  </li>
                  <li ng-class="{'active' : getCurrentStatus() == 'Draft'}">
                    <a ng-click="changeStatus('draft')">Draft</a></li>
                  <li ng-class="{'active' : getCurrentStatus() == 'Finalized'}">
                    <a ng-click="changeStatus('finalized')">Finalized</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="pull-right data-model-create-buttons">
          <contextual-actions role="data-models" no-colors="true" size="sm"></contextual-actions>
        </div>
        <ul class="nav nav-tabs" role="tablist">
          <li id="my-models" ng-class="{'active' : getCurrentType() == 'My Models'}" role="presentation">
            <a href ng-click="showMyModels()">
              My Models
            </a>
          </li>
          <li ng-class="{'active' : getCurrentType() == 'Catalogue Models'}" role="presentation">
            <a href ng-click="showAllModels()">Catalogue Models</a>
          </li>
          <!--<li ng-class="{'active' : getCurrentType() == 'Catalogue Elements'}" role="presentation">-->
            <!--<a href ng-click="showAllElements()">Catalogue Elements</a>-->
          <!--</li>-->
        </ul>
        <div class="leave-10-before"></div>
        <div ng-if="showPreload()">
          <div class="jumbotron">
            <h1>Welcome to Metadata Registry</h1>
            <p>
              There are no data models yet. Start experimenting with one of the sample data models, import your existing
              model from one of the supported formats or create brand new data model from the scratch.
            </p>
            <p>
              <button class="btn btn-primary btn-lg" ng-click="importSample()"><span class="fa fa-book"></span> Import
                Sample
              </button>
              <button class="btn btn-success btn-lg" ng-click="createElement()"><span class="fa fa-plus-circle"></span>
                Create New
              </button>
            </p>
          </div>
        </div>

        <div ng-if="!showPreload()">
          <div ng-if="type == 'elements'">
            <infinite-list transform="dataModelOrDestination($element)"
                           column-classes="'col-lg-12 col-sm-12 col-md-12'"
                           type="short"
                           list="list">
            </infinite-list>
          </div>

          <div ng-if="type != 'elements'">
            <infinite-list transform="dataModelOrDestination($element)"
                           column-classes="'col-lg-12 col-sm-12 col-md-12'"
                           list="list">
            </infinite-list>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ng-include src="'/mc/core/ui/general/footer.html'"></ng-include>
  </div>
</div>
