<!-- Basic Metadata -->
<div ng-switch="element.elementType" class="col-md-12">
  <div ng-switch-when="org.modelcatalogue.core.DataModel">
    <h5>Basic</h5>
    <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/dataModelBasic.html'"></div>
  </div>

  <div ng-switch-when="org.modelcatalogue.core.DataClass">
    <h5>Basic</h5>
    <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/defaultBasic.html'"></div>
  </div>

  <div ng-switch-when="org.modelcatalogue.core.DataElement">
    <h5>Basic</h5>
    <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/defaultBasic.html'"></div>
  </div>

  <div ng-switch-when="org.modelcatalogue.core.MeasurementUnit">
    <h5>Basic</h5>
    <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/measurementUnitBasic.html'"></div>
  </div>

  <div ng-switch-when="org.modelcatalogue.core.ValidationRule">
    <h5>Basic</h5>
    <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/validationRuleBasic.html'"></div>
  </div>

  <div ng-switch-when="org.modelcatalogue.core.Asset">
    <h5>Basic</h5>
    <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/assetBasic.html'"></div>
  </div>
</div>

<!-- Custom Metadata -->
<div ng-if="element.isInstanceOf('dataModel') ||
        element.isInstanceOf('dataClass') ||
        element.isInstanceOf('dataElement') ||
        element.isInstanceOf('dataType') ||
        element.isInstanceOf('measurementUnit') ||
        element.isInstanceOf('validationRule') ||
        element.isInstanceOf('asset')"
     class="col-md-12"
     data-view-content-name="Custom Metadata">
  <h5>Custom Metadata</h5>
  <div ng-include="'/modelcatalogue/core/sections/detailSections/metadata/customMetadata.html'"></div>
</div>
