<div class="row">
    <div class="col-lg-12 col-sm-12 col-md-12">
      <div class="catalogue-element-detail-actions">
        <contextual-actions icon-only="true" role="{{::actionRoleAccess.ROLE_FEEDBACK_ACTION}}" size="xs" no-colors="true"></contextual-actions>
      </div>
      <h3>
        {{ feedback.name }}
      </h3>
        <pre ng-bind-html="feedback.log || 'Nothing logged yet or the log entry has expired after 24 hours of inactivity'"></pre>
        <div class="btn btn-block btn-default" ng-click="reload()"><span class="fa fa-fw fa-refresh"></span></div>
    </div>
</div>
