
.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}



// preserve new lines in blockquotes
blockquote, .dl-table-item-cell, .pp-table-property-value {
  white-space: pre-line;
}
// angularjs bootstrap ui suggests this
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.catalogue-element-treeview-list {
  list-style-type: none;
  padding-left: 15px;
}

.catalogue-element-treeview-list-container {
  border: solid #d3d3d3 1px;
  border-radius: 8px;
  height: 440px;
  padding-top: 15px;
  padding-right: 15px;
  z-index: 1001;
  background-color: rgba(255, 255, 255, 0.7);

  @media (min-width:768px) {
    &:hover {
      position: absolute;
      min-width: 120%;

      .catalogue-element-treeview-labels {
        overflow-x: visible;
        text-overflow:clip;
        padding-right: 35px;
      }
    }
  }
  
}

.catalogue-element-treeview-list-root {
  height: 400px;
  overflow-y: auto;
}

.catalogue-element-treeview-item {
  .badge {
    margin: 7px;
  }
}

.catalogue-element-treeview-text-content {
  &:hover, &.active {
    background-color: #eeeeee;
    border-radius: 5px;
  }
}

.catalogue-element-treeview-labels {
  display: block;
  &:hover, &.active {
    background-color: #eeeeee;
  }

  border-radius: 4px;
}

.catalogue-element-treeview-labels {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.catalogue-element-treeview-name {
  cursor: pointer;
}

.popover-title {
  word-break: break-all;
}

.popover-content {
  white-space: pre-line;
}

.soe-table-property-actions {
  min-width: 100px;
}

.soe-table-property-key {
  min-width: 200px;
}

.new-relationship-modal-prompt-metadata input, .new-relationship-modal-prompt-metadata .input-sm {
  font-size: 12px;
  height: 28px;
}

.new-relationship-modal-prompt-metadata {
  padding-top: 15px;
  font-size: 90%;
}


.omnisearch-icon {
  color: #d3d3d3;
  margin-right: 15px;
}

.contextual-actions-right {
  display: block;
  width: 100%;
  padding: 7px 7px 3px;
  background-color: whitesmoke;
  border-top: solid #dddddd 1px;
  border-bottom: solid #dddddd 1px;
  text-align: right;

}

.contextual-actions {
  display: inline-block;

  & .btn {
    float: left;
  }
}

.items-per-page {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right!important;
}

.messages-panel.growl {
  position: fixed;
  right:    15px;
  bottom:   45px;
  width:    35%;
  z-index:  1000;

  .alert:hover {
    opacity: .3;
  }

  .alert {
    &.ng-enter, &.ng-move {
      -webkit-transition: 1s ease all;
      -moz-transition: 1s ease all;
      -o-transition: 1s ease all;
      transition: 1s ease all;

      opacity:0;
    }

    &.ng-enter-active, &.ng-move-active  {
      opacity:0.9;
    }

    &.ng-leave {
      -webkit-animation:0.5s my_animation;
      -moz-animation:0.5s my_animation;
      -o-animation:0.5s my_animation;
      animation:0.5s my_animation;
    }
  }

  .alert {
    opacity: 0.9;
  }

}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.messages-modal-confirm .modal-body, .preserve-new-lines {
  white-space: pre-line;
}

.action-label {
  cursor: pointer;
}

.action-description {
  white-space: pre-wrap;
  font-size: 0.8em;
}

.remove-tag {
  color: white;
  &:hover {
    cursor: pointer;
    color: white !important;
  }
}

.tags {
  padding-bottom: 10px;
}

.tutorial-steps {
  float: left;
  width: 100%;
  position: relative;
  padding-left: 0;
  list-style: none;
  text-align: center;
  z-index: 10000;

  .clearfix();

  li {
    display: table-cell;
    width: 1%;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      cursor: not-allowed;
    }
  }

  .btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    &:hover, &:focus {
      outline: none!important;
    }

  }

}

a div.panel-footer, .with-pointer {
  cursor: pointer;
}

.with-move {
  cursor: move;
}

.dl-table-item-cell.preserve-all {
  white-space: pre-wrap;
}


.fixed-height(@height) {
  height: @height;
  max-height: @height;
  min-height: @height;
}

.with-ellipses {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
}

.panel-fixed-height(@height) {
  padding-bottom: 15px;
  .panel-heading {
    .fixed-height(40px);
    .panel-title {
      .with-ellipses();
      cursor: pointer;
    }
  }
  .panel-body {
    .fixed-height(@height - 40px);
    overflow-y: auto;
  }
}

.panel-fixed-height-500 {
  .panel-fixed-height(500px);
}
.panel-fixed-height-300 {
  .panel-fixed-height(300px);
}

.infinite-scroll-item .panel-actions {
  display: none;
}

.infinite-scroll-item:hover .panel-actions {
  display: block;
  position: absolute;
  padding: 0 10px;
  top: 50px;
  float: right;
  right: 15px;
  opacity: 0.6;
}

.infinite-scroll-item:hover .panel-actions:hover {
  opacity: 1;
}


.navbar-input-group {
  font-size: 0; /*removes whitespace between button and input*/

  input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    @media (min-width: 1200px) {
      &:hover, &:active, &:focus, &.expanded {
        width: 400px;
      }
    }
  }

  .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    width: 45px;
  }

  ul {
    width: 445px;

    li a {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.clear-selection {
  font-size: 16px;
  position: relative;
  float: right;
  right: 100px;
  margin-right: -60px;

  color: #d9534f;
  opacity: 0.3;

  &:hover {
    color: #d9534f;
    opacity: 1;
  }

}

.expandable {
  &.expanded .close:before {
    content: "\f066";
  }

  &:not(.expanded) .close:before {
    content: "\f065";
  }
}

.inf-table {
  table-layout: fixed;
}

.inf-table-item-cell{
  word-break: break-all;
}


.inf-table-header {
  z-index: 1000;
  background-color: white;
  opacity: 0.9;

  .table {
    margin-bottom: 0;
  }
}

.actions-row.collapsed {
  display: none;
}

.inf-cell-expand, .inf-cell-expand:visited, .inf-cell-expand:hover {
  color: inherit;
  cursor: pointer;
}

.pp-table {
  background-color: transparent!important;
}

.ins, ins {
  color: green;
  text-decoration: none;
}
.del, del {
  color: red;
  text-decoration: none;
}

.monospace {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.del, .ins {
  .noselect {
    display: none;
  }
}

.hide-del {
  .del {
    display: none;
  }
}

.hide-ins {
  .ins {
    display: none;
  }
}

.diff-table {
  td {
    min-width: 300px;
  }
  th {
    min-width: 250px;
  }
}

blockquote {
  font-size: inherit;
}

.security-hide {
  display: none;
}


li.active .omnisearch-text.text-warning {
  color: #ffcc00 !important;
}

li.active .omnisearch-text.text-info {
  color: #aaddff !important;
}

.pre-js-error {
  background-color: salmon;
  border-color: red;
  color: white;
}

.search-for-more-icon {
  cursor: pointer;
}

.modal-body .search-lg {
  padding-bottom: 20px;
}

.soe-table-property-key, .soe-table-property-value, .soe-table-property-actions {
  vertical-align: middle !important;
}

td.handle {
  height: 100%;
}

.cep-draft {
  background-color: #fcf8e3;
}
.cep-pending {
  background-color: #d9edf7;
}

.cep-deprecated {
  background-color: #f2dede;
}

.create-classification-wizard .messages-panel {
  margin-top: 20px;
}

.mc-version {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(119, 119, 119, 0.68)
}

.front-footer {
  margin-top: 3cm;
}
