.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}



// preserve new lines in blockquotes
blockquote, .dl-table-item-cell, .pp-table-property-value {
  white-space: pre-line;
}
// angularjs bootstrap ui suggests this
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.catalogue-element-treeview-list {
  list-style-type: none;
  padding-left: 15px;
}

.catalogue-element-treeview-list-container {
  border: solid #d3d3d3 1px;
  border-radius: 8px;
  height: 440px;
  padding-top: 15px;
  padding-right: 15px;
}

.catalogue-element-treeview-list-root {
  height: 400px;
  overflow-y: auto;
}

.catalogue-element-treeview-item {
  .badge {
    margin: 7px;
  }
}

.catalogue-element-treeview-text-content {
  &:hover, &.active {
    background-color: #eeeeee;
    border-radius: 5px;
  }
}

.catalogue-element-treeview-labels {
  display: block;
  &:hover, &.active {
    background-color: #eeeeee;
  }

  border-radius: 4px;
}

.catalogue-element-treeview-labels {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.catalogue-element-treeview-name {
  cursor: pointer;
}

.popover-title {
  word-break: break-all;
}

.popover-content {
  white-space: pre-line;
}

.soe-table-property-actions {
  min-width: 100px;
}

.soe-table-property-key {
  min-width: 200px;
}

.new-relationship-modal-prompt-metadata input, .new-relationship-modal-prompt-metadata .input-sm {
  font-size: 12px;
  height: 28px;
}

.new-relationship-modal-prompt-metadata {
  padding-top: 15px;
  font-size: 90%;
}


.omnisearch-icon {
  color: #d3d3d3;
  margin-right: 15px;
}

.contextual-actions {
  display: inline-block;

  & .btn {
    float: left;
  }
}

.items-per-page {
  margin-top: 20px;
  margin-bottom: 20px;
  float: right!important;
}

.messages-panel.growl {
  position: fixed;
  right:    15px;
  bottom:   15px;
  width:    35%;
  z-index:  1000;

  .alert:hover {
    opacity: .3;
  }

  .alert {
    &.ng-enter, &.ng-move {
      -webkit-transition: 1s ease all;
      -moz-transition: 1s ease all;
      -o-transition: 1s ease all;
      transition: 1s ease all;

      opacity:0;
    }

    &.ng-enter-active, &.ng-move-active  {
      opacity:0.9;
    }

    &.ng-leave {
      -webkit-animation:0.5s my_animation;
      -moz-animation:0.5s my_animation;
      -o-animation:0.5s my_animation;
      animation:0.5s my_animation;
    }
  }

  .alert {
    opacity: 0.9;
  }

}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

.messages-modal-confirm .modal-body, .preserve-new-lines {
  white-space: pre-line;
}

.action-label {
  cursor: pointer;
}

.action-description {
  white-space: pre-wrap;
  font-size: 0.8em;
}

.remove-tag {
  color: white;
  &:hover {
    cursor: pointer;
    color: white !important;
  }
}

.tags {
  padding-bottom: 10px;
}

.create-model-wizard {
  .modal-dialog {
    width: 800px;
  }
}

.tutorial-steps {
  float: left;
  width: 100%;
  position: relative;
  padding-left: 0;
  list-style: none;
  text-align: center;
  z-index: 10000;

  .clearfix();

  li {
    display: table-cell;
    width: 1%;
    > a,
    > span {
      display: inline-block;
      padding: 5px 14px;
    }

    > a:hover,
    > a:focus {
      text-decoration: none;
    }
  }

  .disabled {
    > a,
    > a:hover,
    > a:focus,
    > span {
      cursor: not-allowed;
    }
  }

  .btn {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;

    &:hover, &:focus {
      outline: none!important;
    }

  }

}

a div.panel-footer, .with-pointer {
  cursor: pointer;
}

.dl-table-item-cell.preserve-all {
  white-space: pre-wrap;
}


