<plugin name='model-catalogue-core-plugin' version='0.1' grailsVersion='2.3 &gt; *'>
  <author>Adam Milward, Vladimír Oraný</author>
  <authorEmail>adam.milward@outlook.com, vladimir@orany.cz</authorEmail>
  <title>Model Catalogue Core Plugin </title>
  <description>Model catalogue core plugin (metadata registry)
</description>
  <documentation>http://grails.org/plugin/model-catalogue-core-plugin</documentation>
  <type>ModelCatalogueCorePluginGrailsPlugin</type>
  <resources>
    <resource>ModelCatalogueCorePluginUrlMappings</resource>
    <resource>spring.resources</resource>
    <resource>org.modelcatalogue.core.AbstractRestfulController</resource>
    <resource>org.modelcatalogue.core.CatalogueElementController</resource>
    <resource>org.modelcatalogue.core.ConceptualDomainController</resource>
    <resource>org.modelcatalogue.core.DataElementController</resource>
    <resource>org.modelcatalogue.core.DataTypeController</resource>
    <resource>org.modelcatalogue.core.EnumeratedTypeController</resource>
    <resource>org.modelcatalogue.core.MeasurementUnitController</resource>
    <resource>org.modelcatalogue.core.ModelController</resource>
    <resource>org.modelcatalogue.core.RelationshipTypeController</resource>
    <resource>org.modelcatalogue.core.SearchController</resource>
    <resource>org.modelcatalogue.core.ValueDomainController</resource>
    <resource>org.modelcatalogue.core.CatalogueElement</resource>
    <resource>org.modelcatalogue.core.ConceptualDomain</resource>
    <resource>org.modelcatalogue.core.DataElement</resource>
    <resource>org.modelcatalogue.core.DataType</resource>
    <resource>org.modelcatalogue.core.EnumeratedType</resource>
    <resource>org.modelcatalogue.core.ExtendibleElement</resource>
    <resource>org.modelcatalogue.core.ExtensionValue</resource>
    <resource>org.modelcatalogue.core.Mapping</resource>
    <resource>org.modelcatalogue.core.MeasurementUnit</resource>
    <resource>org.modelcatalogue.core.Model</resource>
    <resource>org.modelcatalogue.core.PublishedElement</resource>
    <resource>org.modelcatalogue.core.Relationship</resource>
    <resource>org.modelcatalogue.core.RelationshipType</resource>
    <resource>org.modelcatalogue.core.ValueDomain</resource>
    <resource>org.modelcatalogue.core.DomainModellerService</resource>
    <resource>org.modelcatalogue.core.MappingService</resource>
    <resource>org.modelcatalogue.core.ModelCatalogueSearchService</resource>
    <resource>org.modelcatalogue.core.RelationshipService</resource>
    <resource>org.modelcatalogue.core.EnumAsStringConverter</resource>
    <resource>org.modelcatalogue.core.RelationshipTypeClassConverter</resource>
  </resources>
</plugin>